.title {
    text-align: center;
    margin-top: 60px;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;

}

.ans {
    background-color: darkgray;
    text-align: right;
    font-family: 'Calculator', sans-serif;
    font-weight: 900;
    /* font-size: larger; */
    color: black;
}

input[type="text"]::placeholder {
    text-align: right;
    font-style: italic;
    position: relative;

}

#clear {
    width: 236px;
    height: 45px;
    padding-top: 13px;

}

#dark {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(rgb(87, 87, 87), rgb(148, 148, 148), rgb(87, 87, 87));
}

#light {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(rgb(230, 229, 229), rgb(197, 197, 197), rgb(230, 229, 229));
}

:hover#dark {
    background-color: yellowgreen;
}

:hover#light {
    background-color: yellowgreen;
}

.container {
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(54, 54, 53);
    margin-top: 40px;
    display: inline-block;
    margin-left: 535px;
    padding: 10px 10px;
}

.ans {
    width: 196px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 20px;
}

.button {
    padding: 20px;
    margin: 0 3px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-image: linear-gradient(to right, #007bff, #00ff00);
}



.row {
    margin: 8px 0;
    margin-left: 10px;
}


@media screen and (min-width:320px) and (max-width:728px) {

    #dark {
        margin-left: 100px;
    }

    .title {
        margin-left: 100px;
    }

    .container {
        margin-left: 150px;

    }

}

@media screen and (min-width:728px) and (max-width:1130px) {

    #dark {
        margin-left: 100px;
    }

    .title {
        margin-left: 80px;
    }

    .container {
        margin-left: 270px;

    }

}


